# Ignore node_modules and npm debug logs
node_modules
npm-debug.log

# Ignore build output
.next

# Ignore environment files
.env

# Ignore local development files
.DS_Store
*.local

# Ignore logs
logs
*.log
